<div class="row">
  

  <table class="container table" id="content" #content>
    <tr>
      <th style="width: 10%">Complaint Name</th>
      <th style="width: 30%">Description</th>
      <th style="width: 40%">Email</th>
      <th style="width: 20%"></th>
    </tr>
    <tr *ngFor="let complaintItem of complaints">
      <td>{{complaintItem.complaintName}}</td>
      <td>{{complaintItem.description}}</td>
      <td>{{complaintItem.email}}</td>
      <td><button class="btn btn-default" [routerLink]="['/complaint/edit/', complaintItem.id]">Edit Complaint</button></td>       
    </tr>
  </table>
  <input type="button" value="Generate Report" class="btn btn-success" (click)="SavePDF()" style="margin: 0 81%">
</div>
